* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #3a3560;
  line-height: 1.7;
  background: #fff;
}
